global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "tumor-api"
    static_configs:
      - targets: ["tumor-api:5000"]
